extends ./base.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign Up
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="Box") Next
  .wrapper
    #chat
      p Chat with yourself
      #chatWindow
    form#Chat(class="Form", name="Form", action="/chat", method="POST")
      input#message(type="text", name="message", placeholder="Write your message here")
      a#sendMessage(class="sendMessage", href="#") Send Message
  p#errorMessage
block scripts
  script(src="assets/chatCall.js")